// Import mixins
@import 'assets/styles/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN PAGE HEADER */

.ant-page-header-heading-title {
  text-transform: uppercase;
}

.ant-page-header {
  border: 1px solid rgb(235, 237, 240);
  // background-color: #fff;
  padding: 10px 24px;
}
