@import 'assets/styles/mixins.scss';

.title {
  text-transform: uppercase;
}

.description {
  /* Required declarations: */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* Limit the text block to three lines */
  -webkit-line-clamp: 3;
  line-height: 1.2; // Default is 1.2, but varies by browser
  min-height: 3.6em; 
}

.actionIcon {
  margin-right: 15px;
  color: #8e8f91;
}

.actionIconEdit {
  @extend .actionIcon;
  &:hover {
    @extend .actionIcon;
    color: $blue;
  }
}

.actionIconShare {
  @extend .actionIcon;
  &:hover {
    @extend .actionIcon;
    color: $success;
  }
}

.actionIconDelete {
  @extend .actionIcon;
  &:hover {
    @extend .actionIcon;
    color: $danger;
  }
}